:root {
  --color-1: #fed480;
  --color-2: #ff7530;
  --color-3: #a1c6b9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
nav {
  padding: 1rem;
  background: linear-gradient(
    270deg,
    rgba(49, 105, 155, 0.329),
    rgba(255, 255, 255, 0.336)
  );
  /* background-color: black; */
  position: fixed;
  min-width: 99%;
  height: max-content;
  line-height: 1.5rem;
  z-index: 10;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
}
nav div {
  display: inline;
  margin: 10px;
}
#logo {
  /* background-color: whitesmoke; */
  height: 10rem;
}
#logo > spam {
  cursor: pointer;
  font-size: 1.5rem;
}
.nav-link {
  text-align: center;
}
.nav-links ul {
  display: inline;
  float: right;
}
.nav-links li {
  display: inline;
  margin: 0 2px;
  text-align: center;
}
.nav-links a {
  width: 10rem;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: #fdfdfd28;
  /* background-color: blue; */
  color: black;
  border-radius: 5px;
  border-bottom: 5px solid transparent;
  transition: border 300ms linear;
}
.nav-links a:hover {
  border-bottom: 5px solid var(--color-2);
}
#active {
  border-bottom: 5px solid var(--color-2);
}
.main-header {
  background-image: url("./imgs/bg-img.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  place-content: center;
}
.shop-imgs {
  margin: 3rem;
  margin-left: 1rem;
  height: 25rem;
  width: 95%;
}
.shop-imgs > div {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1rem auto;
  padding: 0 2rem;
}
.login-form > div,
.signup-form > div {
  text-align: left;
}
.content #title {
  padding: 1rem 0;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 500ms ease-in-out;
  color: var(--color-1);
}
.content {
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto 2rem;
  margin-right: 2rem;
  color: aliceblue;
  padding: 2rem 2rem 3rem 3rem;
  font-size: 1.2rem;
  display: none;
  border-left: 8px solid transparent;
  transition: all 800ms linear;
  cursor: pointer;
}
.content:hover {
  border-left: 8px solid var(--color-2);
}
.content:hover > #title {
  font-size: 3.4rem;
}
.content > p {
  margin: 1rem 0;
}
#sub-title {
  position: relative;
  bottom: 1rem;
  transition: all 500ms ease-in-out;
  color: var(--color-3);
}
.forms {
  border-left: 8px solid transparent;
  transition: all 400ms linear;
}
.forms:hover {
  border-left: 8px solid var(--color-1);
  transform: scale(1.02);
}
.login-form,
.signup-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 800ms linear;
}

.signup-form {
  display: none;
}
.btns {
  width: 100%;
  display: grid;
  place-items: center;
}
.login-inp {
  width: 75%;
  font-size: 1.3rem;
  border: none;
  outline: none;
  padding: 5px;
}
.login-inp:not(input[type="button"]) {
  border-left: 6px solid var(--color-3);
}
.login-inp:not(:last-child):invalid {
  border-left: 6px solid red;
}
#remind {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  text-align: left;
}
#remind:checked {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  color: aliceblue;
}
.signup-btn,
.login-btn {
  transition: all 300ms linear;
  border-left: 5px solid transparent;
  margin: auto;
}
.signup-btn:hover,
.login-btn:hover {
  border-left: 5px solid var(--color-2);
}
input[type="button"]:active {
  transform: translateY(8px);
}

.btns > spam {
  margin: 5px 0;
  text-align: center;
}
.btn-active {
  background-color: var(--color-2);
}
.show-offers{
  background-color: var(--color-2);
}
.tags-lists {
  background-color: #d7e4e0a2;
  margin: 5px 10px;
  padding: 5px 10px;
}
.tags {
  /* display: grid; */
  /* grid-template-columns: repeat(7, auto); */
  /* place-items: center; */
  padding: 10px ;
}
.tag{
  display: inline-block;
}
.tag > a {
  color: azure;
  font-size: 1.2rem;
  background-color: #fed480;
  padding: 3px 1rem;
  border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 650px) {
  nav {
    min-width: 97%;
  }
  .nav-links {
    display: none;
  }
  .nav-links ul {
    float: none;
    display: grid;
    place-content: center;
    height: 10rem;
  }
  .nav-links li a {
    display: block;
  }
  .main-header {
    height: auto;
    padding-top: 15vh;
    grid-template-columns: 100%;
  }
  .login-inp {
    width: 100%;
    font-size: 1rem;
  }
  .shop-imgs > div {
    width: 90%;
  }
}